<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
    layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>뭬이레이텡</title>
</head>
<body>
    <div layout:fragment="content" class="container my-3">
        <h2>뭬이레이텡</h2>
        <div align="center" class="py-2 my-3">
            <h4><a th:href="@{/user/login}">로그인하기</a></h4>
        </div>
        <div align="center" class="py-2 my-3">
            <h4><a th:href="@{/review}">리뷰 찾아보기</a></h4>
        </div>
        <div align="center" class="py-2 my-3">
            <h4><a th:href="@{/review/create}">리뷰 작성하기</a></h4>
        </div>
    </div>
</body>
</html>